@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #16161A;
    font-family: 'Poppins', sans-serif;
}

.pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.divisionNameSelected {
    display: flex;
    align-items: center;
}

.star {
    cursor: pointer;
    color: #b1b1b18c;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.star.starActive {
    color: #d83434;
}

.star:hover {
    transform: scale(1.25);
    cursor: pointer;
    color: #d83434d3;
}

.star:active {
    transform: scale(.9);
}

.favoritos {
    background: #16161A;
    color: #d83434;
    border: none;
    margin: 0 1rem;
    height: 43px;
    font-weight: bold;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    font-family: 'Poppins', sans-serif;
    border-radius: .25rem;
    padding: 0 1rem;
    cursor: pointer;
}

.favoritos:hover {
    transform: scale(1.025);
}

.favoritos:active {
    transform: scale(.975);
}

.favoritosActive {
    background: #d8343441;
}

.noFavorites {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    background: #242629;
    padding: .35rem 1rem;
    margin: 0 0 2rem 0;
    border-radius: .25rem;
}

.favoritesSugestion {
    color: #fff;
}

.favoritesDivision {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem 0 0;
}

.favoritesSection {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.randomPokemonName {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    margin: 1rem 0 1rem 0;
    background: #242629;
    padding: .35rem 1rem;
    border-radius: .25rem;
    text-transform: capitalize;
}

.pokemon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #242629;
    margin: 1rem;
    width: 25rem;
    height: 12.5rem;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #242629;
    overflow: hidden;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.pokemon:hover {
    transform: scale(1.01);
}

.pokemon:active {
    transform: scale(.985);
}

.image {
    width: 10rem;
    margin: .25rem;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.name {
    font-size: 1.25rem;
    text-transform: capitalize;
    color: #fff;
    margin: 0 .5rem 0 0;
}

.order {
    font-size: .75rem;
    color: #94A1B2;
}

.division {
    display: flex;
    align-items: center;
    margin: 0 0 .5rem 0;
}

.types {
    display: flex;
}

.type {
    font-weight: 600;
    color: #fff;
    padding: .15rem .35rem;
    border-radius: .25rem;
    text-transform: capitalize;
    margin: 0 .5rem 0 0;
}

.filter {
    position: fixed;
    bottom: 0;
    background: #242629;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding: 2rem 0;
    height: 15rem;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.typesFilter {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    flex-wrap: wrap;
    cursor: pointer;
}

.typeFilter {
    font-weight: 600;
    color: #fff;
    background: #16161A;
    padding: .15rem .35rem;
    border-radius: .25rem;
    text-transform: capitalize;
    margin: .25rem;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.typeFilter:hover {
    transform: scale(1.05);
}

.typeFilter:active {
    transform: scale(.95);
}

.logo {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
}

.logoImage {
    width: 10rem;
}

.inputDivision {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
}

.filterTitle {
    font-size: 1.25rem;
    margin: 1rem 0;
    color: #fff;
}

.input {
    background: #16161A;
    border: none;
    font-size: .85rem;
    width: 25rem;
    padding: .55rem 0 .55rem .95rem;
    border-radius: .25rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.input:focus {
    outline: none;
    box-shadow: #3761a896 0px 0px 0px 3px;
}

.fire {
    background: #FD7D24;
}

.water {
    background: #4592C4;
}

.grass {
    background: #9BCC50;
}

.poison {
    background: #B97FC9;
}

.bug {
    background: #729f3f;
}

.flying {
    background: #BDB9B8;
}

.normal {
    background: #A4ACAF;
}

.ground {
    background: #AB9842;
}

.electric {
    background: #EED535;
}

.fairy {
    background: #fdb9e9;
}

.fighting {
    background: #d56723;
}

.psychic {
    background: #f366b9;
}

.rock {
    background: #a38c21;
}

.steel {
    background: #9eb7b8;
}

.ice {
    background: #51c4e7;
}

.ghost {
    background: #7b62a3;
}

.dragon {
    background: #53a4cf;
}

.pokemonSelected {
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    width: 45rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 9999999999;
    background: #242629;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.imageSelected {
    max-width: 20rem;
    margin: .25rem;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.divisionSelected {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 .5rem 1rem;
}

.nameSelected {
    font-size: 1.75rem;
    text-transform: capitalize;
    color: #fff;
    margin: 0 .5rem 0 0;
}

.divisionStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .25rem 0;
}

.nameStatus {
    text-transform: capitalize;
    color: #fff;
    width: 100%;
}

.valueStatus {
    color: #fff;
    font-weight: 300;
    font-size: 1.35rem;
    padding: .15rem .5rem;
    border-radius: .25rem;
    background: #16161A;
}

.pokeapiSelected {
    filter: blur(4px);
}

.modal {
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.btnFilter {
    background: #242629;
    color: #fff;
    border: none;
    margin: 0 1rem;
    height: 43px;
    font-weight: bold;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    font-family: 'Poppins', sans-serif;
    border-radius: .25rem;
    padding: 0 1rem;
    cursor: pointer;
}

.btnFilter:hover {
    transform: scale(1.025);
}

.btnFilter:focus {
    transform: scale(.9);
}

.modalFilter {
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

::-webkit-scrollbar {
    width: 7.5px;
    background: #28282986;
}

::-webkit-scrollbar-thumb {
    background: #3e3f42;
    border-radius: 1rem;
}

@media screen and (max-width: 750px) {
    .imageSelected {
        width: 10rem;
    }
    
    .pokemonSelected {
        width: max-content;
        flex-direction: column;
        align-items: center;
        padding: 2rem 4rem;
    }

    .divisionNameSelected {
        margin: 1rem 0 0 0;
    }
}

@media screen and (max-width: 630px) {
    .filter {
        padding: 2rem;
        height: 25rem;
    }
}

@media screen and (max-width: 570px) {
    .input {
        width: 100%;
        margin: 1rem;
    }
}